*.la
*.lo
*.o
*.pyc
*~
.*.swp
*.stamp
.deps
.libs
Makefile
Makefile.in
TAGS
TelepathyYtstenutQt4/TelepathyYtstenutQt4-uninstalled.pc
TelepathyYtstenutQt4/TelepathyYtstenutQt4.pc
_gen
aclocal.m4
autom4te.cache
build/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
cscope.out
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
m4/gtk-doc.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
stamp-h1
tags
telepathy-ytstenut-glib/telepathy-ytstenut-glib-uninstalled.pc
telepathy-ytstenut-glib/telepathy-ytstenut-glib.pc
tp-glib-tools/telepathy-glib-env

/telepathy-ytstenut-glib/tests/diddle-account-manager

/docs/reference/xml
/docs/reference/html
/docs/reference/tmpl
/docs/reference/telepathy-ytstenut-glib.types
/docs/reference/telepathy-ytstenut-glib.signals
/docs/reference/telepathy-ytstenut-glib.prerequisites
/docs/reference/telepathy-ytstenut-glib.interfaces
/docs/reference/telepathy-ytstenut-glib.hierarchy
/docs/reference/telepathy-ytstenut-glib.args
/docs/reference/telepathy-ytstenut-glib-unused.txt
/docs/reference/telepathy-ytstenut-glib-undocumented.txt
/docs/reference/telepathy-ytstenut-glib-undeclared.txt
/docs/reference/telepathy-ytstenut-glib-decl.txt
/docs/reference/telepathy-ytstenut-glib-decl-list.txt
/docs/reference/version.xml
/docs/spec/
